<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicionar Curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" id="name" name="nameSchool" [(ngModel)]="curso.nome">
        <br>
        <label>Escola</label>
        <select class="form-control" name="selectEscola" id="escola" [(ngModel)]="curso.escola">
          <option value="Igreja da Família - Sede">Igreja da Família - Sede</option>
          <option value="Igreja da Família - Tejipió">Igreja da Família - Tejipió</option>
          <option value="Igreja da Família - Piedade">Igreja da Família - Piedade</option>
          <option value="Igreja da Família - Arthur Ludgren">Igreja da Família - Arthur Ludgren</option>
        </select>
        <br>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="adicionarCurso()">Salvar</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">Gerenciamento de Cursos</h5>
      </div>
      <div class="card-body">
        <ng2-smart-table [settings]="settings" [source]="data" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary float-right" (click)="open(content)">Adicionar</button>
      </div>
    </div>
  </div>
</div>
